.booksy-container {
  background-color: var(--clr-transparent);
  border-top: 0.1vw solid var(--clr-border);
  border-bottom: 0.1vw solid var(--clr-border);
  margin: 5vw 0;
}

.booksy-text {
  text-align: center;
  color: var(--clr-text);
  font-size: 2vw;
  font-weight: 600;
  padding: 2.5vw 0 0 0;
}

.booksy-anchor {
  width: 30vw;
  margin: 2.5vw 35vw;
  background-color: var(--clr-bg-primary);
  border-radius: 3vw;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.booksy-anchor:hover, .booksy-anchor:active {
  background-color: var(--clr-primary);
  cursor: pointer;
  transform: scale(1.05);
}


@media screen and (max-width: 600px) {
  .booksy-container {
    margin: 3em 0;
  }

  .booksy-text {
    width: 80vw;
    margin: 0 10vw;
    font-size: inherit;
    line-height: 1.5em;
    padding: 2em 0 0 0;
  }

  .booksy-anchor {
    width: 90vw;
    margin: 2em 5vw;
    border-radius: 9vw;
  }
}