.header {
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-image: radial-gradient(var(--clr-bg-primary), var(--clr-primary));
  height: 6vw;
  filter: drop-shadow(0 1vw 1vw var(--clr-secondary));
}

.geolocation, .menu {
  width: 3vw;
  margin: 2.5vw;
}

.geolocation:hover, .menu:hover, .geolocation:active, .menu:active {
  filter: drop-shadow(0 0 0.1vw var(--clr-primary));
  opacity: 0.6;
}

#geolocation {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  color: var(--clr-text-header);
  filter: drop-shadow(0 0 0.1vw var(--clr-primary));
  opacity: 0.9;
}

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-flow: column nowrap;
  border-left: 0.1vw solid var(--clr-border);
  border-bottom: 0.1vw solid var(--clr-border);
  border-bottom-left-radius: 2.5vw;
  transition: all 0.3s ease-in-out;
}

.toggle-container {
  z-index: 3;
  width: 25vw;
  height: 6vw;
  padding: 1.5vw 4vw 1.5vw 0;
  opacity: 0.8;
  background-color: var(--clr-bg-secondary);
}

.toggle-button {
  display: block;
  height: 3vw;
  float: right;
  cursor: pointer;
}

.navigation-anchor {
  text-align: right;
  width: 25vw;
  height: 6vw;
  display: block;
  font-size: 2vw;
  padding: 2vw 4vw 2vw 0;
  color: var(--clr-text);
  background-color: var(--clr-bg-secondary);
  text-decoration: none;
}

.navigation-anchor:hover, .navigation-anchor:active {
  background-color: var(--clr-bg-primary);
  color: var(--clr-secondary);
  font-weight: 600;
}

.navigation-anchor:last-of-type {
  border-bottom-left-radius: 2.5vw;
}


@media screen and (max-width: 600px) {
  .header {
    z-index: 3;
    height: 100%;
    transition: all 0.5s ease-out;
  }

  h1 {
    font-size: 2em;
  }

  .geolocation, .menu {
    width: 1.75em;
    margin: 1em;
  }

  nav {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100vw;
    border-left: none;
    border-bottom: 0.1vw solid var(--clr-border);
    border-radius: 0;
  }

  .toggle-container {
    height: 4em;
    width: 100%;
    padding: 1.5em 0 0.5em 0;
  }

  .toggle-button {
    height: 2em;
    float: none;
    margin-inline: auto;
  }
  
  .navigation-anchor {
    text-align: center;
    width: 100vw;
    height: auto;
    font-size: 1.5em;
    padding: 1em 0;
  }
  
  .navigation-anchor:last-of-type {
    border-radius: 0;
  }
}