.color-palette {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  padding: 2.5vw;
  margin: 5vw 2.5vw;
  background-color: var(--clr-transparent);
  border: 0.1vw solid var(--clr-border);
  border-radius: 2.5vw;
}

.color-palette-picture {
  width: 100%;
  border-radius: 1vw;
}

.color-palette-text {
  color: var(--clr-text);
  text-align: center;
  font-size: 2.5vw;
  font-weight: 600;
  margin-top: 2.5vw;
}


@media (width < 600px) {
  .color-palette {
    justify-content: center;
    margin: 1em;
    border-radius: 2em;
  }

  .color-palette-picture {
    width: 100%;
    border-radius: 1.5em;
  }

  .color-palette-text {
    font-size: inherit;
    line-height: 1.5em;
    margin-top: 0.5em;
  }
}