.salon-description, .employee {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 2.5vw;
  margin: 5vw 2.5vw;
  background-color: var(--clr-transparent);
  border: 0.1vw solid var(--clr-border);
  border-radius: 2.5vw;
}

.employee {
  margin-top: 0;
}

.salon, .employee-photo {
  width: 30vw;
  border: 0.1vw solid var(--clr-border);
  border-radius: 1vw;
}

.employee-photo {
  width: 25vw;
}

.salon-text-container, .employee-description-container {
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  width: 55vw;
  padding: 0 2.5vw;
}

.employee-description-container {
  width: 60vw;
}

.salon-text, .employee-description {
  color: var(--clr-text);
  font-size: 1.5vw;
  line-height: 2.5vw;
}


@media screen and (max-width: 600px) {
  .salon-description, .employee {
    justify-content: center;
    margin: 1em;
    border-radius: 2em;
    transition: all 2s ease-in-out;
  }

  .salon-description {
    opacity: 0;
  }

  .employee {
    margin-top: 0;
  }

  .salon, .employee-photo {
    width: 80vw;
    margin: 0.75em;
    border-radius: 1em;
    transition: all 1s ease-in-out;
  }

  .salon {
    margin: 0;
    opacity: 0;
  }

  .salon-text-container, .employee-description-container {
    width: 80vw;
  }

  .salon-text, .employee-description {
    font-size: inherit;
    line-height: 1.5em;
    padding: 0.5em;
  }
}